*,
*::before,
*::after{
  outline: none;
  user-select: none;
}

body {
  min-height: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  margin: 0;
  padding: 0;
}

.img-white {
  filter: brightness(0) invert(1);
}

.rbk-scroll-bar {
  &::-webkit-scrollbar {
    height: 0.375rem;
    width: 0.375rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-corner {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #787878;
    border-radius: 0.1875rem;
  }
}
